# Practica 01: Creación de DataFrames a partir de listas

Crea 5  Pandas DataFrame de al menos 5 columnas a partir de una lista de lista.

In [3]:
import pandas as pd

## Data Frame ciudades

Crea un Pandas dataframe que muestre 5 datos de 10 ciudades

In [7]:
ciudades = [['México', 'México','America','23 millones', '45 km2'], ['Nueva York','E.U.A','America','23 millones','39 km2'],
            ['Madrid', 'España','Europa','12 millones', '23 km2'], ['Bogota', 'Colombía','America','5 millones', '20 km2']]

In [8]:
df_ciudades = pd.DataFrame(ciudades, columns=['Nombre', 'País','Continente','Población','Extensión'])

In [11]:
df_ciudades

       Nombre      País Continente    Población Extensión
0      México    México    America  23 millones    45 km2
1  Nueva York     E.U.A    America  23 millones    39 km2
2      Madrid    España     Europa  12 millones    23 km2
3      Bogota  Colombía    America   5 millones    20 km2