# Practica 01: Creación de DataFrames a partir de listas

Crea 5  Pandas DataFrame de al menos 5 columnas a partir de una lista de lista.

In [3]:
import pandas as pd

## Data Frame ciudades

Crea un Pandas dataframe que muestre 5 datos de 10 ciudades

In [13]:
ciudades = [['México', 'México','America','9 millones', '45 km2'], 
            ['Nueva York','E.U.A','America','8 millones','39 km2'],
            ['Madrid', 'España','Europa','12 millones', '23 km2'],
            ['Bogota', 'Colombía','America','5 millones', '20 km2'],
            ['Monterrey','México','America','6 millone','12 km2'],
            ['Villahermosa','México','America','500 mil','5 km2'],
            ['Cartagena','México','America','1 millon','6 km2'],
            ['Río de Janeiro','Brazil','America','5 millones','12 km2'],
            ['Toronto','Canada','America','3 millones','4 km2'],
            ['París','Francia','Europa','4 millones','6 km2']]

In [14]:
df_ciudades = pd.DataFrame(ciudades, columns=['Nombre', 'País','Continente','Población','Extensión'])

In [15]:
df_ciudades

           Nombre      País Continente    Población Extensión
0          México    México    America   9 millones    45 km2
1      Nueva York     E.U.A    America   8 millones    39 km2
2          Madrid    España     Europa  12 millones    23 km2
3          Bogota  Colombía    America   5 millones    20 km2
4       Monterrey    México    America    6 millone    12 km2
5    Villahermosa    México    America      500 mil     5 km2
6       Cartagena    México    America     1 millon     6 km2
7  Río de Janeiro    Brazil    America   5 millones    12 km2
8         Toronto    Canada    America   3 millones     4 km2
9           París   Francia     Europa   4 millones     6 km2