# Practica 01: Creación de DataFrames a partir de listas

Crea 3  Pandas DataFrame de al menos 5 columnas a partir de una lista de lista.

In [3]:
import pandas as pd

## Data Frame ciudades

Crea un Pandas dataframe que muestre 5 datos de 10 ciudades

In [28]:
ciudades = [['México', 'México','America','9 millones', '45 km2'], 
            ['Nueva York','E.U.A','America','8 millones','39 km2'],
            ['Madrid', 'España','Europa','12 millones', '23 km2'],
            ['Bogota', 'Colombía','America','5 millones', '20 km2'],
            ['Monterrey','México','America','6 millone','12 km2'],
            ['Villahermosa','México','America','500 mil','5 km2'],
            ['Cartagena','México','America','1 millon','6 km2'],
            ['Río de Janeiro','Brazil','America','5 millones','12 km2'],
            ['Toronto','Canada','America','3 millones','4 km2'],
            ['París','Francia','Europa','4 millones','6 km2']]

In [14]:
df_ciudades = pd.DataFrame(ciudades, columns=['Nombre', 'País','Continente','Población','Extensión'])

In [15]:
df_ciudades

           Nombre      País Continente    Población Extensión
0          México    México    America   9 millones    45 km2
1      Nueva York     E.U.A    America   8 millones    39 km2
2          Madrid    España     Europa  12 millones    23 km2
3          Bogota  Colombía    America   5 millones    20 km2
4       Monterrey    México    America    6 millone    12 km2
5    Villahermosa    México    America      500 mil     5 km2
6       Cartagena    México    America     1 millon     6 km2
7  Río de Janeiro    Brazil    America   5 millones    12 km2
8         Toronto    Canada    America   3 millones     4 km2
9           París   Francia     Europa   4 millones     6 km2

## DATA FRAMES PRECIOS DE TIENDA

Crea un Pandas Data Frame que muestre información sobre el inventario de una tienda

In [22]:
productos = [['Arroz',33,'paquetes',12,45,'MXN','Plaza Independencia',],
             ['Atun',200,'lata',20,150,'MXN','Plaza Independencia'],
             ['Jabon',150,'Pieza',18,128,'MXN','Plaza Independencia'],
             ['Shampoo',200,'Pieza',45,198,'MXN','Plaza Independencia'],
             ['Refresco',450,'Botella',40,436,'MXN','Plaza Independencia'],
             ['Cerveza',500,'lata',37,489,'MXN','Plaza Independencia'],
             ['Maíz',200,'paquete 1kg',23,199,'MXN','Plaza Independencia']]

In [23]:
df_productos = pd.DataFrame(productos, columns=['articulo','cant.lote','presentacion','precio','unidades_vendidas','modena','sucursal'])

In [25]:
df_productos

,articulo,cant.lote,presentacion,precio,unidades_vendidas,modena,sucursal
0,Arroz,33,paquetes,12,45,MXN,Plaza Independencia
1,Atun,200,lata,20,150,MXN,Plaza Independencia
2,Jabon,150,Pieza,18,128,MXN,Plaza Independencia
3,Shampoo,200,Pieza,45,198,MXN,Plaza Independencia
4,Refresco,450,Botella,40,436,MXN,Plaza Independencia
5,Cerveza,500,lata,37,489,MXN,Plaza Independencia
6,Maíz,200,paquete 1kg,23,199,MXN,Plaza Independencia

## DATA FRAME PRODUCCIÓN DE LECHE

In [31]:
produccion = [[1,1,'exterior','r1','d1',200],
              [2,2,'exterior','r2','d1',180],
              [3,2,'interior','r1','d2',185],
              [4,1,'interior','r1','d2',230],
              [5,1,'interior','r2','d1',201],
             ]

In [32]:
df_produccion = pd.DataFrame(produccion, columns= ['Grupo de prueba','Granaja de prueba','Condición de prueba','Raza de la vaca','dieta','producción'])

In [33]:
df_produccion

,Grupo de prueba,Granaja de prueba,Condición de prueba,Raza de la vaca,dieta,producción
0,1,1,exterior,r1,d1,200
1,2,2,exterior,r2,d1,180
2,3,2,interior,r1,d2,185
3,4,1,interior,r1,d2,230
4,5,1,interior,r2,d1,201